@font-face {
	font-family: "Iosevka Custom Web";
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url("TTF/IosevkaCustom-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Iosevka Custom Web";
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url("TTF/IosevkaCustom-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Iosevka Custom Web";
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url("TTF/IosevkaCustom-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Iosevka Custom Web";
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url("TTF/IosevkaCustom-BoldItalic.ttf") format("truetype");
}
